@{
    Layout = null;
}

@using EPiServer.Framework.Web.Mvc.Html
@using Knowit.EPiModules.ImageScaling.Sample.Business.ImageScaling
@model Knowit.EPiModules.ImageScaling.Sample.Models.Pages.StartPage

<!DOCTYPE html>

<html>
<head>
    <title>Knowit.EPiModules.ImageScaling</title>
    @Html.Raw(Html.RequiredClientResources("Header"))
    <style type="text/css">
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    

    <h1>NoTransform / Default</h1>
    @Html.PropertyFor(x => x.MainImage)
    

    <h1>Fluid250</h1>
    @Html.PropertyFor(x => x.MainImage, new { ImagePreset = ImagePreset.Fluid250 })
    

    <h1>FixedSmall</h1>
    @Html.PropertyFor(x => x.MainImage, new { ImagePreset = ImagePreset.FixedSmall })
    

    @Html.Raw(Html.RequiredClientResources("Footer"))
</body>
</html>